@keyframes rotation {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

body {
	background-color: #FFF;
	margin: 100px auto 0 auto;
	max-width:  800px;

}

.gary {
    width: 200px;
    height: 20px;
    background: #01d954;
    z-index: 10;
    position: absolute;
    left: -130px;
    top: 101px;
}

.bubble {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	top: 1073px;
	left: 68%;
	transform: translateX(-50%);
	z-index: 5;
	animation: rotation 180s infinite linear; 
}

.blinky {
	position: absolute;
	top:2240px;
	left:200px;
	width: 60px;
	z-index: 5;
}

header {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 150px;
  z-index: 10;
}

header h1 {  
  font-family: Fjalla One;
  font-size: 28px;
}

#video-player {
	max-width: 100%;
}

h3 {
  font-family: Helvetica;
	font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

footer {
   display: flex;
   justify-content: space-between;
   font-family: Helvetica;
   margin: 150px 0 300px 0;
}

footer p {
  margin-bottom: 8px;
  font-size: 14px;
}

footer a {
  margin-bottom: 8px;
  font-size: 14px;
  color: #000000;
}


/* Flex styles -------------------------------------------------*/
header {
  display: flex;
  align-items: center;
}

@media (min-width: 700px) {
 
.hero {
    display: flex;
    align-items: center;
	width: 100%;
}
	
}


/* Grid styles -------------------------------------------------*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 10px;
}


/* Generic styles ----------------------------------------------*/

.hero {
  height: 450px;
  margin-bottom: 10px;
  color: white;
  background-size: cover;
}

.cards {
  max-width: 960px;
  margin: 0 auto 30px;
}

article {
  	position: relative;
}

.article-img {
	position: relative; 
 	height: 300px;
 	width: 100%;
 	object-fit: cover;
}

.article-title {
  	position: absolute;
	top:0;
	left:0;
	width: 100%;
  	height: 100%;
  	background-color: rgba(1, 217, 84, 0.85);
  	opacity: 0;
  	transition: opacity 0.3s cubic-bezier(0.07, 0.79, 0.56, 0.99);
  	z-index: 2;
}

article h1 {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  line-height: 1.2;
  color: #FFF;
}

article:hover .article-title {
	opacity: 1;
}


@media (max-width: 400px) {
 
	body {
 		margin: 90px auto 0 auto;
 		
}
	
.gary {
    width: 200px;
    height: 20px;
    background: #01d954;
    z-index: 10;
    position: absolute;
    left: -160px;
    top: 35px;
}

header {
  position: absolute;
  top: 34px;
  left: 50px;
  width: 80%;
  z-index: 10;
}

header h1 {  
  font-family: Fjalla One;
  font-size: 24px;
}

	
.hero {
		height: 220px;
	}

.blinky {
	display: none;
	
}
	
.bubble {
	display: none;
	
}
	
footer {
   display: block;
   margin: 100px 0 100px 30px;
}
	
.footer1 {
	margin-bottom: 40px;
		
	}

	
}

@media (max-width: 768px) {
	
	.blinky {
		display: none;
	}
	
footer {
	margin: 80px 30px 120px 30px;
}
	
	
}


@media (max-width: 1024px) {

.blinky {
	display: none;
	
}
	
.bubble {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	top: 1073px;
	left: 74%;
	transform: translateX(-50%);

	z-index: 5;
	animation: rotation 180s infinite linear; 
}	

	
}




@media (max-width: 1440px) {

.blinky {
	position: absolute;
	top:2240px;
	left:100px;
	width: 60px;
	z-index: 5;
	
}
	
.bubble {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	top: 1073px;
	left: 74%;
	transform: translateX(-50%);

	z-index: 5;
	animation: rotation 180s infinite linear; 
}	

	
}





